.app-container {
  background-color: #ffc2a0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todos-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 85%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #ff8542;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.todo-list {
  list-style-type: none;
  width: 80%;
}
